<aside id="dashboard-menu"
    class="fixed h-screen w-screen bg-gray-900 transform -translate-x-full md:relative md:w-1/5 md:max-w-md md:translate-x-0 transition-all duration-500 flex flex-col items-center justify-center py-24">
        <button id="close-drawer" class="cursor-pointer md:hidden absolute right-8 top-8 text-gray-50 text-4xl outline-none focus:outline-none hover:text-red-600">
            &times;
        </button>
        <h1 class="text-4xl md:text-2xl lg:text-4xl capitalize mb-4">
            <span class="font-title text-red-600">m</span><span class="text-3xl md:text-xl lg:text-3xl font-title text-gray-200">oovey</span>
        </h1>

        <img
            class="object-cover block h-24 w-24 rounded-full my-0 mx-auto border-4 border-gray-400 shadow-lg object-top" 
            src="https://i.pinimg.com/736x/6b/e2/45/6be24560eab116d0424ba8d39384f07f.jpg" alt="">

        <ul class="flex flex-col items-center w-max mt-4 mx-4">
            <li class="my-4 text-xl md:text-sm lg:text-xl dashboard-link capitalize active-link text-gray-300">
                <a href="/dashboard" class="">
                <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <span>profile</span>
            </a></li>
            <li class="my-4 text-xl md:text-sm lg:text-xl dashboard-link capitalize text-gray-300">
                <a href="blogs/new" class="">
                <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                new review
            </a></li>
            <li class="my-4 text-xl md:text-sm lg:text-xl dashboard-link capitalize text-gray-300">
                <a href="/blogs/user/12" class="">
                <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"></path></svg>
                my blogs
            </a></li>
            <li class="my-4 text-xl md:text-sm lg:text-xl dashboard-link capitalize text-gray-300">
                <a href="/list/2" class="">
                <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path></svg>
                watch list
            </a></li>
            <li class="my-4 text-xl md:text-sm lg:text-xl dashboard-link capitalize text-gray-300">
                <a href="/logout" class="">
                <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                logout
            </a></li>
        </ul>
    </aside>