<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Moovey | A Place for Movie Lovers</title>
	<link rel="stylesheet" href="/static/css/index.css" type="text/css">
	<script src="/static/js/index.js" defer></script>
	<link 
		rel="preload"	
		href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Jura:wght@300&display=swap" 
		as="style">
	<link 
		rel="stylesheet"	
		href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Jura:wght@300&display=swap">
	<link 
		rel="icon" 
		type="image/png" 
		href="https://cdn.pixabay.com/photo/2013/07/13/12/18/camera-159582_1280.png">
</head>
<body>