<div class="flex flex-col items-center justify-center">
    <img src="/static/assets/favicon.png" alt="moovey logo" class="block object-contain mx-auto w-24">
    <h1 class="text-2xl -m-3 font-title font-light capitalize text-dark">
        Moovey
    </h1>
</div>