<footer class="h-auto py-16 bg-gradient-to-r from-pink-600 to-black">
    <div class="mx-auto w-full max-w-md flex flex-col items-center justify-center h-full text-gray-400">
        <strong class="tracking-tighter border-2 py-0.5 px-1.5 border-current flex-shrink-0 font-light text-base cursor-default text-gray-200">
            moovey••
        </strong>
        <p class="my-2 leading-relaxed text-xs text-center">
            moovey is an online platform to write reviews for movies. moovey tries to promote good movies from all over the world. write reviews, create your favorite lists, recommend movies and lot more.
        </p>
        <small class="text-xs block text-center my-1">moovey uses <a class="underline" href="http://www.omdbapi.com" target="_blank">www.omdbapi.com</a> to get movie/web series/tv shows'informations.</small>
        <small class="text-xs block text-center my-1">video courtesy <a target="_blank" class="underline" href="https://coverr.co">www.coverr.co</a></small>
        <div class="text-xs mb-1">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <small class="text-xs">Photo by Andrew Neel from Pexels</small>
        <small class="text-xs">Photo by fauxels from Pexels</small>
        <small class="text-xs">Photo by Pavel Danilyuk from Pexels</small>
    </div>
</footer>

</body>
</html>
