<footer class="p-8 flex justify-center items-center w-full bg-gray-900">
    <div class="my-8 flex justify-center items-center flex-col text-gray-400">
        <img 
            class="w-20 block object-contain"
            src="/static/assets/favicon.png" alt="brand logo">
        <strong class="text-xl">
            Moovey
        </strong>
        <small class="text-xs capitalize text-gray-500 w-5/6 text-center my-2">
            this website is purely for non-commercial usage. you can read reviews without having an account. to write a movie review, rate a movie review etc you need to have an account.   
            <br>
        </small>
        <h5 class="capitalize text-xs text-gray-200">
            created by sounak mukherjee
        </h5>
    </div>
</footer>