<article class="bg-gray-100 flex px-4 py-2 rounded-md justify-between max-w-md mx-auto shadow">
    <img
        class="block h-16 w-16 rounded-full object-cover object-top" 
        src="<%= poster %>" 
        alt="">
    <div class="flex flex-1 ml-4 justify-between">
        <div class="flex flex-col">
            <strong class="capitalize text-gray-600">
                <%= title %> (<%= year%>)
            </strong>
            <em class="text-xs text-gray-400 capitalize">
                by <%= director %>
            </em>
        </div>
        <div class="flex">
            <span class="text-red-600 text-xl">&starf;</span>
            <strong class="text-gray-500">9.5</strong>
        </div>
    </div>
</article>