<div class="flex flex-col">
    <div 
        class="bg-gray-50 my-2 w-full max-w-prose border-l-8 border-red-500 text-center p-4 flex flex-col justify-start items-start shadow-md rounded-md mx-auto">
        <strong class="text-gray-600 font-title font-extralight capitalize text-base">
            <%= title %>
        </strong>
        <em class="text-gray-500 capitalize text-sm">
            by <%= user %>
        </em>
        <a href="/dashboard/list/<%= id %>" class="mt-2 capitalize text-sm text-gray-600 hover:underline hover:text-red-700">
            read more
        </a>
    </div>
</div>