<article class="bg-gray-50 p-4 shadow-inner rounded-md flex justify-between">   
    <img
        class="rounded-full h-16 w-16 object-cover shadow-xl"
        src="<%= profile %>" 
        alt="">
    <div class="flex flex-col ml-4">
        <strong class="text-gray-500 text-sm font-bold">
            <%= title %>
        </strong>
        <a href="<%= url %>" 
            class="block capitalize w-max mt-1 text-xs text-gray-500 hover:text-red-600 hover:underline">
            see more
        </a>
    </div>
</article>