<div class="flex justify-center items center my-4">
    <span class="loader block mx-1 transition  h-5 w-5 rounded-full bg-gray-400"></span>
    <span class="loader block mx-1 transition  h-5 w-5 rounded-full bg-gray-500"></span>
    <span class="loader block mx-1 transition h-5 w-5 rounded-full bg-gray-600"></span>
</div>