<article class="relative rounded overflow-hidden transform transition-all hover:scale-105 hover:-translate-y-px group bg-white filter drop-shadow-lg">
    <section class="absolute bottom-0 left-0 w-full z-10 bg-white text-black h-auto px-2 py-6 flex flex-col items-center gap-1 md:transform md:translate-y-full md:group-hover:translate-y-0 transition-all font-semibold font-special">
        <p class="capitalize text-xs text-center">
            <%= title %>
        </p>
        <small class="text-xs font-light text-gray-600">
            <%= year %>
        </small>
        <a href="" class="my-1.5 py-0.5 outline-none focus:outline-none capitalize font-regular text-sm bg-white text-black border-transparent hover:border-black focus:border-black border-b-2 transform transition-all">
            select movie
        </a>
    </section>
    <img
        class="h-auto max-h-96 rounded filter bg-black drop-shadow-lg w-full max-w-md object-scale-down mx-auto transition-all group-hover:grayscale group-hover:brightness-50 duration-200" 
        src="<%= poster %>" alt="<%= title %>'s official poster">
</article>