<article  
    class="m-2 mx-auto block w-44 overflow-hidden rounded-md bg-gray-100 shadow-md transform hover:scale-105 hover:shadow-xl transition-all">
    <img src="<%= poster %>" class="object-cover" alt="<%= title %> poster"/>
    <section class="flex items-center flex-col justify-around">
        <strong class="capitalize block p-2 text-gray-500 font-semibold text-sm text-center">
            <%= title %>
        </strong>
    </section>
</article>