<nav class="fixed z-20 top-0 left-0 w-full flex items-center justify-between py-2 px-4 text-black">
    <h2 class="font-special font-light text-lg capitalize">
        <a href="/" class="outline-none focus:outline-none">
            m&deg;
        </a>
    </h2>
    <i class="navMenuToggler fas fa-stream text-xs hover:text-pink-600 transition-all cursor-pointer"></i>

    <section id="navMenu" class="fixed top-0 left-0 w-full h-screen transform transition-all -translate-y-full bg-white z-50 flex items-center justify-center">
        <!-- menu close btn -->
        <button type="button" class="navMenuToggler absolute top-2 right-4 outline-none focus:outline-none text-gray-500 hover:text-pink-600">
            <i class="fa fa-times text-lg"></i>
        </button>

        <!-- container -->
        <div class="w-full flex items-center justify-center h-full max-w-3xl mx-auto">
            <section class="hidden md:w-1/2 md:block md:h-full md:p-2 relative">
                <article data-desc="articles" class="link-desc transition-all opacity-100 absolute top-0 left-0 flex w-full h-full">
                    <img
                        class="absolute h-72 w-auto transform top-1/3 left-10 lg:left-0 -rotate-6 object-scale-down block p-2 bg-white shadow-lg" 
                        src="https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" alt="">
                    <img
                        class="absolute h-72 w-auto transform top-20 left-20 rotate-12 object-scale-down block p-2 bg-white shadow-lg" 
                        src="https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@.jpg" alt="">
                    <img
                        class="absolute h-72 w-auto transform bottom-1/3 right-6 rotate-6 object-scale-down block p-2 bg-white shadow-lg" 
                        src="https://m.media-amazon.com/images/M/MV5BMTM4OGJmNWMtOTM4Ni00NTE3LTg3MDItZmQxYjc4N2JhNmUxXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_SX300.jpg" alt="">
                </article>
                <article data-desc="lists" class="link-desc transition-all opacity-0 absolute top-0 left-0 flex flex-col items-center justify-around w-full h-full gap-y-4 py-8 px-4">
                    <section class="bg-gray-100 w-max mr-auto h-1/4 gap-4 flex flex-col items-start rounded shadow-md p-4">
                        <strong class="text-pink-600 capitalize font-special block text-center">
                            My favorite psychological thrillers
                        </strong>
                        <span class="font-regular text-xs font-semibold">Created By John Doe</span>
                        <small class="text-xs font-special text-gray-400">15 October 2020</small>
                    </section>
                    <section class="bg-gray-100 w-max ml-auto h-1/4 gap-4 flex flex-col items-start rounded shadow-md p-4">
                        <strong class="text-pink-600 capitalize font-special block text-center">
                            My favorite sitcoms of all times
                        </strong>
                        <span class="font-regular text-xs font-semibold">Created By Sounak</span>
                        <small class="text-xs font-special text-gray-400">25 July 2018</small>
                    </section>
                    <section class="bg-gray-100 w-max mr-auto h-1/4 gap-4 flex flex-col items-start rounded shadow-md p-4">
                        <strong class="text-pink-600 capitalize font-special block text-center">
                            Best dystopian movies and shows
                        </strong>
                        <span class="font-regular text-xs font-semibold">Created By Jane Doe</span>
                        <small class="text-xs font-special text-gray-400">3 March 2021</small>
                    </section>
                </article>
                <article data-desc="users" class="link-desc transition-all opacity-0 absolute top-14 left-0 flex flex-col items-center justify-around w-5/6 h-3/4 gap-y-4 py-8 px-4">
                    <section class="w-max mr-auto flex flex-col items-center justify-center">
                        <img class="h-24 w-24 mb-2 block object-cover rounded-full p-1 shadow-lg bg-white" src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=344&q=80" alt="">
                        <span class="font-regular text-xs font-semibold">John Doe</span>
                        <small class="font-special text-xs">I love watching movies</small>
                    </section>
                    <section class="w-max ml-auto flex flex-col items-center justify-center">
                        <img class="h-24 w-24 mb-2 block object-cover rounded-full p-1 shadow-lg bg-white" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="">
                        <span class="font-regular text-xs font-semibold">Anne Doe</span>
                        <small class="font-special text-xs">Movies!Movies!Movies!</small>
                    </section>
                    <section class="w-max mr-auto flex flex-col items-center justify-center">
                        <img class="h-24 w-24 mb-2 block object-cover rounded-full p-1 shadow-lg bg-white" src="https://images.unsplash.com/photo-1543871595-e11129e271cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" alt="">
                        <span class="font-regular text-xs font-semibold">Jennifer Smith</span>
                        <small class="font-special text-xs">Amateur cinephile</small>
                    </section>
                </article>
            </section>
            <ul class="w-full h-2/3 gap-y-4 justify-evenly flex flex-col md:w-1/2">
                <% if (loggedIn) { %>
                <li class="w-full text-sm py-2 relative text-gray-400 transition-all transform hover:scale-105 origin-center hover:text-black font-semibold">
                    <a href="/dashboard" class="block relative w-full">
                        <ul class="hidden items-center justify-start w-1/3 absolute top-1/2 transform -translate-y-1/2 left-0">
                            <i class="h-0.5 w-5/6 bg-pink-600 "></i>   
                            <i class="text-pink-600 fas fa-dot-circle text-xs"></i>
                        </ul>
                        <h6 class="w-2/3 block pl-3 ml-auto font-regular uppercase">
                            dashboard
                        </h6>
                    </a>
                </li>
                <% } %>
                <li data-target="articles" class="active navlink-desc w-full text-2xl py-2 relative text-black">
                    <a href="/moovey" class="block relative w-full">
                        <ul class="flex items-center justify-start w-1/3 absolute top-1/2 transform -translate-y-1/2 left-0">
                            <i class="h-0.5 w-5/6 bg-pink-600 "></i>   
                            <i class="text-pink-600 fas fa-dot-circle text-xs"></i>
                        </ul>
                        <h6 class="w-2/3 block pl-3 ml-auto font-regular uppercase">articles</h6>
                    </a>
                </li>
                <li data-target="lists" class="navlink-desc w-full text-sm py-2 relative text-gray-400 transition-all transform hover:scale-105 origin-center hover:text-black font-semibold">
                    <a href="/moovey/list" class="block relative w-full">
                        <ul class="hidden items-center justify-start w-1/3 absolute top-1/2 transform -translate-y-1/2 left-0">
                            <i class="h-0.5 w-5/6 bg-pink-600 "></i>   
                            <i class="text-pink-600 fas fa-dot-circle text-xs"></i>
                        </ul>
                        <h6 class="w-2/3 block pl-3 ml-auto font-regular uppercase">lists</h6>
                    </a>
                </li>
                <li data-target="users" class="navlink-desc w-full text-sm py-2 relative text-gray-400 transition-all transform hover:scale-105 origin-center hover:text-black font-semibold">
                    <a href="/reviewers" class="block relative w-full">
                        <ul class="hidden items-center justify-start w-1/3 absolute top-1/2 transform -translate-y-1/2 left-0">
                            <i class="h-0.5 w-5/6 bg-pink-600 "></i>   
                            <i class="text-pink-600 fas fa-dot-circle text-xs"></i>
                        </ul>
                        <h6 class="w-2/3 block pl-3 ml-auto font-regular uppercase">reviewers</h6>
                    </a>
                </li>
                <% if (loggedIn) {%>
                <li class="w-full text-sm py-2 relative text-gray-400 transition-all transform hover:scale-105 origin-center hover:text-black font-semibold">
                    <a href="" class="block relative w-full">
                        <ul class="hidden items-center justify-start w-1/3 absolute top-1/2 transform -translate-y-1/2 left-0">
                            <i class="h-0.5 w-5/6 bg-pink-600 "></i>   
                            <i class="text-pink-600 fas fa-dot-circle text-xs"></i>
                        </ul>
                        <h6 class="w-2/3 block pl-3 ml-auto font-regular uppercase">log out</h6>
                    </a>
                </li>
                <% } %>
            
            </ul>
        </div>


        <!-- footer in nav fixed -->
        <small class="fixed bottom-2 text-xs text-gray-500 capitalize w-full block text-center left-0">
            created by sounak
        </small>
    </section>


</nav>