<nav class="fixed w-full p-4 flex left-0 top-0 items-center justify-between md:justify-start md:flex-row-reverse bg-light md:shadow-sm">
    <input 
        type="checkbox" 
        class="hidden"
        id="navToggler" />
    <label for="navToggler" class="cursor-pointer md:hidden">
        <svg class="w-6 h-6 transform rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path></svg>
    </label>
    <ul id="navList"
        class="fixed top-0 left-0 h-screen w-screen bg-gradient-to-b transform transition-all duration-300 -translate-x-full from-primary via-secondary to-dark md:flex md:relative md:bg-none flex items-center justify-center flex-col md:flex-row md:h-auto">
        
        <label for="navToggler" class="cursor-pointer absolute top-4 right-4 md:hidden">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
        </label>
        
        <div class="md:hidden">
            <%- include('./brand')%>
        </div>
        
        <li 
            class="px-4 text-dark uppercase font-base text-xl mt-6 mb-2 cursor-pointer hover:bg-dark md:hover:bg-transparent hover:text-light md:hover:text-secondary py-2 transition-colors duration-300 md:m-0 p-2">
            movie reviews
        </li>
        <li 
            class="px-4 text-dark uppercase font-base text-xl my-2 cursor-pointer hover:bg-dark md:hover:bg-transparent hover:text-light md:hover:text-secondary py-2 transition-colors duration-300 md:m-0 p-2">
            reviewers
        </li>
        <li 
            class="px-4 text-dark uppercase font-base text-xl my-2 cursor-pointer hover:bg-dark md:hover:bg-transparent hover:text-light md:hover:text-secondary py-2 transition-colors duration-300 md:m-0 p-2">
            login
        </li>
    </ul>
</nav>


<style scoped>
    ul {

    }
</style>