<section class="flex items-center justify-center mb-10">
    <button aria-label="previous page" class="outline-none focus:outline-none text-gray-400 hover:text-gray-700 focus:text-gray-700 text-lg font-light">
        <i class="fas fa-long-arrow-alt-left"></i>
    </button>
    <strong class="mx-2 text-gray-400 text-sm">
        Page 1 of 1
    </strong>
    <button aria-label="next page" class="outline-none focus:outline-none text-gray-400 hover:text-gray-700 focus:text-gray-700 text-lg font-light">
        <i class="fas fa-long-arrow-alt-right"></i>
    </button>
</section>