<% if (!isEven) { %>
<article data-animate="opacity-0" class="scrollArticle origin-bottom transition-all opacity-0 grid grid-cols-4 mb-16 max-w-md lg:gap-x-4 lg:max-w-3xl mx-auto lg:grid-cols-3 lg:max-h-52">
    <figure class="col-start-2 col-end-4 grid place-content-center rounded-full shadow-2xl bg-white aspect-w-1 aspect-h-1 lg:col-start-1 lg:col-end-2">
        <img 
            class="object-cover block h-full w-full p-2 rounded-full object-center"
            src="https://i.ndtvimg.com/i/2016-11/sheldon_640x480_41478610926.jpg" 
            alt="Sheldon Cooper" >
    </figure>
    <section class="col-start-1 col-end-5 flex flex-col items-center justify-center mt-2 lg:items-start lg:col-start-2 lg:col-end-5 lg:row-end-1">
        <h3 class="text-lg capitalize break-words font-semibold text-gray-600 sm:text-xl">
            <%= user.name %>
        </h3>
        <div class="flex items-center text-gray-400">
            <i class="fa fa-map-marker-alt text-xs"></i>
            <span class="ml-1 capitalize text-sm">
                texas
            </span>
        </div>
        <p class="italic text-gray-600 text-xs text-center w-5/6 max-w-lg mx-auto mt-2.5 sm:text-sm lg:text-left lg:mx-0 lg:border-b border-gray-200 lg:pb-2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam culpa tempore voluptatum, eius nisi quod itaque earum libero laborum ipsa accusantium modi dolore porro rem quos! Quis distinctio provident ea!
        </p>
        <a href="/reviewers/<%= user.uid %>" class="text-gray-600 font-regular font-semibold capitalize my-3 text-sm outline-none focus:outline-none hover:text-black focus:text-black">
            view profile
        </a>
    </section>
</article>
<% } else { %>
<!-- user card even -->
<article data-animate="opacity-0" class="scrollArticle origin-bottom transition-all opacity-0 grid grid-cols-4 mb-16 max-w-md lg:gap-x-4 lg:max-w-3xl mx-auto lg:grid-cols-3 lg:max-h-52">
    <figure class="col-start-2 col-end-4 grid place-content-center rounded-full shadow-2xl bg-white aspect-w-1 aspect-h-1 lg:col-start-3 lg:col-end-4">
        <img 
            class="object-cover block h-full w-full p-2 rounded-full object-center"
            src="https://i.pinimg.com/originals/5e/41/52/5e4152a1526947373833983e9e0b3aff.jpg" 
            alt="Howard" >
    </figure>
    <section class="col-start-1 col-end-5 flex flex-col items-center justify-center mt-2 lg:items-start lg:col-start-1 lg:col-end-3 lg:row-end-1">
        <h3 class="text-lg capitalize break-words font-semibold text-gray-600 sm:text-xl">
            <%= user.name %>
        </h3>
        <div class="flex items-center text-gray-400">
            <i class="fa fa-map-marker-alt text-xs"></i>
            <span class="ml-1 capitalize text-sm">
                california
            </span>
        </div>
        <p class="italic text-gray-600 text-xs text-center mx-auto mt-2.5 sm:text-sm lg:text-left lg:mx-0 lg:border-b border-gray-200 lg:pb-2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam culpa tempore voluptatum, eius nisi quod itaque earum libero laborum ipsa accusantium modi dolore porro rem quos! Quis distinctio provident ea!
        </p>
        <a href="/reviewers/<%= user.uid %>" class="text-gray-600 font-regular font-semibold capitalize my-3 text-sm outline-none focus:outline-none hover:text-black focus:text-black">
            view profile
        </a>
    </section>
</article>
<% } %>
