<section id="testimonialSection" class="h-screen fixed top-0 right-0 w-full p-4 z-30 transform translate-x-full">
    <div class="h-full w-full flex-1 fixed top-0 left-0 bg-white bg-opacity-50"></div>
    <div class="min-h-screen w-full h-5/6 ml-auto overflow-y-auto custom-scrollbar max-w-xl bg-white fixed top-0 right-0 px-4 pt-4 filter drop-shadow-xl">
        <div class="flex w-full justify-between flex-col items-center">
            <h2 class="font-special font-semibold text-3xl inline-flex items-center gap-2">
                Testimonials <span class="text-gray-500 font-light text-xl">(14)</span>
            </h2>
            <i class="testimonialEditorToggler far fa-plus-square text-lg cursor-pointer transform hover:shadow-md hover:scale-110" title="Write Testimonial"></i>
        </div>
        <button id="closeTestimonial" class="fa fa-times sticky top-4 outline-none focus:outline-none"></button>
        <p class="my-2 text-sm capitalize text-center text-gray-400 font-semibold font-special">
            Overall rating for all <span class="text-black">14</span> the testimonials is <span class="text-pink-600">3.5/5</span>. 
        </p>
        <div class="grid w-11/12 mx-auto grid-cols-1 gap-4 mt-6 mb-10 pb-10 h-full overflow-y-auto">
            <article class="w-full max-w-xl bg-gray-100 p-3 rounded drop-shadow-md filter">
                <div class="flex items-start justify-start gap-4">
                    <img src="https://www.thestatesman.com/wp-content/uploads/2017/08/1493458748-beauty-face-517.jpg" class="h-12 w-12 rounded-full bg-white p-1 inline-block object-cover md:h-16 md:w-16"/>
                    <div class="flex flex-col items-start">
                        <strong class="font-special text-pink-600">Jane Doe</strong>
                        <small class="text-xs">Lorem ipsum dolor sit amet</small>
                    </div>
                </div>
                <ul class="flex items-center my-1 justify-start text-xs ml-16 md:ml-20 text-black">
                    <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
                </ul>
                <blockquote class="ml-16 md:ml-20 font-special italic font-semibold text-gray-600 text-sm">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla aperiam optio necessitatibus doloribus nemo?
                </blockquote>
            </article>
            <article class="w-full max-w-xl bg-gray-100 p-3 rounded drop-shadow-md filter">
                <div class="flex items-start justify-start gap-4">
                    <img src=https://i0.wp.com/post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/03/GettyImages-1092658864_hero-1024x575.jpg?w=1155&h=1528" class="h-12 w-12 rounded-full bg-white p-1 inline-block object-cover md:h-16 md:w-16"/>
                    <div class="flex flex-col items-start">
                        <strong class="font-special text-pink-600">Jane Doe</strong>
                        <small class="text-xs">Lorem ipsum dolor sit amet</small>
                    </div>
                </div>
                <ul class="flex items-center my-1 justify-start text-xs ml-16 md:ml-20 text-black">
                    <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
                </ul>
                <blockquote class="ml-16 md:ml-20 font-special italic font-semibold text-gray-600 text-sm">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla aperiam optio necessitatibus doloribus nemo?
                </blockquote>
            </article>
            <article class="w-full max-w-xl bg-gray-100 p-3 rounded drop-shadow-md filter">
                <div class="flex items-start justify-start gap-4">
                    <img src="https://t3.ftcdn.net/jpg/01/97/11/64/360_F_197116416_hpfTtXSoJMvMqU99n6hGP4xX0ejYa4M7.jpg" class="h-12 w-12 rounded-full bg-white p-1 inline-block object-cover md:h-16 md:w-16"/>
                    <div class="flex flex-col items-start">
                        <strong class="font-special text-pink-600">Jane Doe</strong>
                        <small class="text-xs">Lorem ipsum dolor sit amet</small>
                    </div>
                </div>
                <ul class="flex items-center my-1 justify-start text-xs ml-16 md:ml-20 text-black">
                    <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
                </ul>
                <blockquote class="ml-16 md:ml-20 font-special italic font-semibold text-gray-600 text-sm">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla aperiam optio necessitatibus doloribus nemo?
                </blockquote>
            </article>
            <article class="w-full max-w-xl bg-gray-100 p-3 rounded drop-shadow-md filter">
                <div class="flex items-start justify-start gap-4">
                    <img src="https://qodebrisbane.com/wp-content/uploads/2019/07/This-is-not-a-person-10-1.jpeg" class="h-12 w-12 rounded-full bg-white p-1 inline-block object-cover md:h-16 md:w-16"/>
                    <div class="flex flex-col items-start">
                        <strong class="font-special text-pink-600">Jane Doe</strong>
                        <small class="text-xs">Lorem ipsum dolor sit amet</small>
                    </div>
                </div>
                <ul class="flex items-center my-1 justify-start text-xs ml-16 md:ml-20 text-black">
                    <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
                </ul>
                <blockquote class="ml-16 md:ml-20 font-special italic font-semibold text-gray-600 text-sm">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla aperiam optio necessitatibus doloribus nemo?
                </blockquote>
            </article>
        </div>
        <section class="flex items-center justify-center mb-10">
            <button aria-label="previous page" class="outline-none focus:outline-none text-gray-400 hover:text-gray-700 focus:text-gray-700 text-lg font-light">
                <i class="fas fa-long-arrow-alt-left"></i>
            </button>
            <strong class="mx-2 text-gray-400 text-sm">
                Page 1 of 1
            </strong>
            <button aria-label="next page" class="outline-none focus:outline-none text-gray-400 hover:text-gray-700 focus:text-gray-700 text-lg font-light">
                <i class="fas fa-long-arrow-alt-right"></i>
            </button>
        </section>
    </div>
</section>
