<%- include('../../partials/head') %>

<body class="min-h-screen font-regular relative custom-scrollbar">
    <!-- navbar -->
    <%- include('../../partials/navbar')%>
    
    <!-- dashboard -->
    <%- include('../../partials/dashboard/dashboard-sidebar')%>
    
    <main class="w-full relative h-screen flex items-start md:pl-10">

        <!-- page specific data -->
        <section class="h-full w-full py-10 md:pt-6 overflow-y-auto custom-scrollbar">
            <section class="min-h-screen w-11/12 mx-auto max-w-5xl xl:max-w-7xl p-4">
                <h1 class="text-4xl">
                    event based toggling. attach toggler to navbar and aside to main
                </h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem veritatis voluptas sint doloremque delectus, facilis soluta labore repellendus maiores nemo ullam sit harum recusandae. Voluptatibus minus expedita cumque maxime explicabo temporibus excepturi voluptates atque, numquam consequatur corporis at sapiente eaque sit. Odit aspernatur magni quasi numquam illo molestias, natus, atque dolor, tenetur autem accusantium! Architecto sequi nemo distinctio hic quibusdam repellat perspiciatis dolorem modi temporibus voluptatibus, numquam quae totam aspernatur quasi qui eveniet necessitatibus quos! Aut, quaerat veniam? Nemo officiis deserunt dolorem corrupti rerum quam placeat itaque. Consectetur voluptatibus mollitia minus perferendis aspernatur eaque, explicabo ratione dicta totam, incidunt accusantium facere corporis facilis quas. Autem necessitatibus accusamus veritatis! Facere inventore vel esse quae veritatis cupiditate qui deleniti, libero asperiores ipsa voluptatibus odit et laudantium quam reiciendis blanditiis soluta doloremque? Blanditiis fuga, debitis esse culpa earum delectus deserunt quasi soluta optio consequatur laboriosam magni, quam ipsum facilis repellat laudantium voluptate porro.
            </section>
            <section class="min-h-screen w-11/12 mx-auto max-w-5xl xl:max-w-7xl p-4">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, delectus veritatis? Libero nisi ea officia ipsam, minus labore aspernatur nam nulla eos sapiente provident, est, suscipit ratione ducimus vero possimus eum atque? Sint omnis autem, nam, doloremque optio cum illum tempore explicabo architecto dolore obcaecati commodi repellat quaerat eligendi corporis ex voluptas? Tempora ducimus asperiores in sit reprehenderit! Nobis laboriosam quis doloribus dolorem magni aliquid vel accusamus possimus excepturi doloremque ea cum libero incidunt, ipsum ipsa asperiores quibusdam itaque quia aspernatur nam. Quia, molestias dolorum dolore perferendis itaque rem necessitatibus et atque neque optio quam sit ratione doloremque non voluptatum? Dignissimos pariatur neque quibusdam provident omnis nisi impedit ut deleniti porro eos delectus velit officiis, nihil eligendi accusamus tenetur fugit, soluta sapiente quae a aut nam. Velit esse consequatur saepe asperiores voluptatum, quam impedit, veniam, maiores dicta vitae eaque reiciendis. Accusantium, sapiente quaerat! Sapiente cupiditate voluptates tenetur at temporibus tempora, dolorum quibusdam debitis laborum nihil iusto earum quod totam ad deleniti fugiat reprehenderit illum maxime commodi laudantium, vel inventore iste magnam ducimus! Possimus nobis saepe facere deserunt deleniti facilis sapiente, dicta fuga accusamus vero voluptatum dolorum dolorem, fugit quaerat nulla temporibus, quis quam dolores assumenda cum aut id corporis voluptates?
        </section>
    </main>
        
    
    <script src="/static/js/dashboard-sidebar.js"></script>
    <script src="/static/js/navbar.js"></script>

</body>
</html>