@import url('https://fonts.googleapis.com/css2?family=Slackey&family=Montserrat&display=swap');

:root {
    --bg: rgba(249, 247, 247, 1);
    --bg-dark: rgb(165, 164, 164);
    --primary : rgb(230, 14, 78);
    --primary-light: rgb(255, 164, 192);
    --primary-dark: rgba(141, 45, 74, 1);
    --text : rgb(31, 12, 18);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', cursive;
}
html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--bg);
}
body {
    height: 100%;
}
body::-webkit-scrollbar{
    width: 1rem;
}
body::-webkit-scrollbar-track{
    background: var(--bg-dark);
}
body::-webkit-scrollbar-thumb{
    background: var(--primary-light);
}
.page-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    transform-origin: center;
    animation: appear 1.5s ease-in-out;
}
@keyframes appear {
    0% {
        opacity: 0;
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
        opacity: 1;
    }
}
.page-design {
    display: block;
    height: 1.75px;
    background: var(--text);
    max-width: 35rem;
    position: relative;
    width: 90%;
    bottom: 0%;
}
.page-design::before,
.page-design::after {
    position: absolute;
    content: '';
    height: inherit;
    background-color: var(--text);
}
.design--main::after {
    width: 90%;
    bottom: 1.5rem;
}
.design--main::before{
    width: 80%;
    bottom: 3rem;
}
.design--main {
    left: 0;
    margin: auto auto 0 0;
    transform-origin: left;
    transform: rotate(-60deg);
}
.design--alt {
    right: 0;
    margin: auto 0 0 auto;
    transform-origin: right;
    transform: rotate(30deg);
}
.design--alt::after {
    width: 90%;
    bottom: 1.5rem;
    transform: translateX(3rem);
}
.design--alt::before{
    width: 80%;
    bottom: 3rem;
    transform: translateX(6rem);
}
.container-right {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    margin: 2rem 2rem 2rem auto;
}
.container-right--main{
    transform: translateY(100%);
}

.page-header {
    font-family: 'Slackey', cursive;
    text-transform: capitalize;
}
h1.page-header {
    font-size: 3.5rem;
    color: var(--primary);
    text-shadow: 1px 1px var(--primary-dark);
}

.page-header-caption {
    font-size: 2rem;
    width: 100%;
    color: var(--bg-dark);
    flex-wrap: wrap;
}

.account-link {
    display: block;
    max-width: max-content;
    margin: 1rem 0;
    text-decoration: none;
    padding: .75rem 2rem;
    background-color: var(--text);
    color: var(--bg-dark);
    text-transform: uppercase;
    word-spacing: .5rem;
    border-radius: .25rem;
    transition: all .6s linear;
    font-family: 'Slackey', cursive;
}
.account-link:hover {
    background-color: var(--primary);
    color: var(--bg);
    filter: drop-shadow(0 1px 1.5rem var(--bg-dark));
}
.page-link {
    background-color: transparent;
    outline: none;
    border: none;
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary-dark);
    text-transform: capitalize;
    position: relative;
    padding-bottom: .5rem;
    transition: all .5s ease;
    cursor: pointer;
}
.page-link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    bottom: 0;
    left: 0;
    backface-visibility: hidden;
    transform: scale(0) translateZ(0);
    transition: all .5s ease;
    transform-origin: center;
}
.page-link:hover {
    color: var(--primary);
}
.page-link:hover::after {
    transform: scale(1);
}
.center-align {
    margin: 2rem auto;
}
.more-link {
    display: block;
    padding: 0.25rem 1.5rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: 3rem;
    text-decoration: none;
    font-weight: bolder;
    color: var(--primary);
    animation: hoverEfect .7s ease-out infinite;
}
@keyframes hoverEfect {
    from {
        transform: translateY(0rem);
    }
    to {
        transform:translateY(1rem);
    }
}
.more-link:hover {
    color: var(--primary-dark);
    filter: drop-shadow(0 1px 1rem var(--text));
    animation: none;
}

h2.page-header {
    font-size: 2rem;
    color: var(--primary);
}

.container-left {
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin: 2rem;
    /* transform: translateY(10%); */
}
.page-header-caption--wrap{
    flex-wrap: wrap;
    width: 70%;
    margin-right: auto;
    font-size: 1.75rem;
}
.list {
    background-color: darkkhaki;
    width: 100%;
    margin: 1rem auto;
}

/* List section */
/* .list {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-link {
    display: block;
    width: max-content;
    margin: 2rem auto;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--primary-dark);
    border-bottom: 1.25px solid transparent;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: all .5s ease-out;
}
.page-link:hover {
    color: var(--primary);
    border-bottom: 1.25px solid currentColor;
    transform: translateY(-2px) translateZ(0);
    filter: drop-shadow(0 1px 1rem var(--bg-dark));
} */


/* CTA SECTION */
.cta-link-box {
    margin: auto;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-link {
    display: block;
    max-width: max-content;
    font-size: 4rem;
    font-family: "Slackey", cursive;
    text-transform: capitalize;
    background-color: var(--text);
    color: var(--primary);
    padding: 1rem 2.5rem;
    border-radius: .5rem;
    box-shadow: 0 1px 1rem var(--bg-dark);
    cursor: pointer;
    text-decoration: none;
    backface-visibility: hidden;
    transition: all .5s ease;
    position: relative;
}
.cta-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: var(--primary-light);
    animation: attract .5s ease-out infinite;
}
.cta-link:hover::before {
    animation: none;
    transform: scale(0);
}
@keyframes attract {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}
.cta-link:hover {
    box-shadow: 0 1px 1.5rem var(--text);
    transform: translateY(-3px) scale(1.05);
    color: var(--bg);
}

footer {
    min-height: 30rem;
    background: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--bg-dark);
}


@media (min-width: 700px){
    .container-right {
        padding: 2rem;
        margin: 5rem 5rem 5rem auto;
    }    
    .design--main {
        transform: rotate(-30deg);
    }
    .design--alt {
        right: 0;
        transform-origin: right;
    }
    .list {
        flex-direction: row;
        min-height: max-content;
    }
}

@media (min-width: 850px) {
    .page-design {
        max-width: 60rem;
    }
}


/* block */

.block {
    width: 100%;
    min-height: 25rem;
    background-color: cyan;
    margin: 1rem;
}


/* ****************************************************************** */
/* ****************************************************************** */
						/* PROFILE PAGE */
/* ****************************************************************** */
/* ****************************************************************** */

.profile-page {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--bg);
    cursor: default;
}
.profile-page::-webkit-scrollbar{
    width: 1rem;
}
.profile-page::-webkit-scrollbar-track{
    background: var(--bg-dark);
}
.profile-page::-webkit-scrollbar-thumb{
    background: var(--primary-light);
}

aside.profile-header {
    background-image: linear-gradient(to top, var(--primary-light),var(--primary));
    min-width: 35rem;
    flex-basis: 25%;
    height: 55%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: scaleX(2);
}
.profile-header-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scaleX(.5);
}
.profile-pic-box {
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    background-color:  var(--primary-dark);
}
.profile-pic {
    display: block;
    height: 85%;
    width: 85%;
    clip-path: circle(50%);
}
.profile-name {
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: "Slackey", cursive;
    letter-spacing: .125rem;
    color: var(--text);
    text-shadow: 1px 1px var(--primary-dark);
    filter: drop-shadow(0 1px 1rem var(--primary-light));
}

.star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.star-rating > li {
    font-size: 2.5rem;
}
.star-rating > .star-fill {
    color: var(--text)
}
.star-rating > .star-empty {
    color: var(--primary-dark)
}
.profile-row, .profile-shot{
    display: flex;
    align-items: center;
}
.profile-shot {
    flex-direction: column;
    margin: 2rem;
    justify-content: center;
}
.profile-shot > strong {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: lighter;
    color: var(--primary-dark);
}
.profile-shot > em {
    font-style: normal;
    font-size: 2.25rem;
    color: var(--text);
}

/* PROFILE BODY */
.profile-body {
    flex-basis: 75%;
    padding: 2rem;
}
.profile-body > .container {
    width: 90%;
    margin: 1rem auto;
}
.profile-quote {
    position: relative;
    padding: 1rem 2rem;
    background: var(--bg-dark);
    width:fit-content;
    margin: 2rem auto;
    border-right: 1rem solid var(--primary);
}
.profile-quote > small {
    position: absolute;
    display: inline-block;
    font-size: 10rem;
    top: -3.5rem;
    left: -2rem;
    color: var(--primary);
}
.profile-quote > span {
    color: var(--text);
    font-size: 1.5rem;
    word-break: break-all;
    hyphens: auto;
    font-style: italic;
}

.profile-subheading {
    font-size: 2rem;
    color: var(--primary);
    text-transform: capitalize;
    margin-bottom: 1rem;
    width: max-content;
    position: relative;
    padding-bottom: .5rem;
    border-bottom: 3px solid currentColor;
}
.profile-text {
    font-size: 1.5rem;
    color: var(--text);
}

.profile-tab {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    padding: .5rem;
}
.profile-tab > li {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--bg-dark);
    cursor: pointer;
}
.active-tab {
    font-weight: bolder;
    color: var(--primary) !important;
    border-bottom: 2px solid currentColor;
}
#selected-tab {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}


@media (min-width: 800px){
    .profile-page {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    aside.profile-header {
        transform: scale(1);
        height: 100%;
        width: 20%;
        justify-content: flex-start;
        width: max-content;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        background-image: linear-gradient(var(--primary), var(--primary-light));
    }
    .profile-header-content {
        transform: scale(1);
        justify-content: flex-start;
        padding-top: 10rem;
    }
    .profile-body > .container {
        margin: 3rem auto;
    }
    .profile-quote {
        margin: 3rem auto;
    }
}



/* ****************************************************************** */
/* ****************************************************************** */
						/* LOGIN + REGISTER PAGE */
/* ****************************************************************** */
/* ****************************************************************** */

.account-page {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    background-image: linear-gradient(150deg, var(--primary), var(--primary-dark) 50%, var(--bg) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.account-page > .page-header {
    position: absolute;
    color: var(--text);
    font-size: 3rem;
    left: 5%;
    top: 5%;
}
.account-form {
    width: 80%;
    max-width: 40rem;
    min-height: 70vh;
    margin: auto;
    background-color: var(--bg);
    opacity: .95;
    border-radius: .75rem;
    box-shadow: 0 1px 1.25rem var(--text);
    overflow: hidden;
    position: relative;
}

.account-form-msg {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--text);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    transition: all .4s ease;
    transform: translateY(-100%);
}
#login > .account-form-msg {
    transform: translateY(0);
}
.account-form-msg > * {
    color: var(--bg);
}
.account-form-msg > button {
    background-color: transparent;
    font-size: 2.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .4s ease;
}
.account-form-msg > button:hover {
    color: var(--primary);
}
.account-form-msg > span {
    flex-grow: 1;
    font-size: 1.25rem;
    text-align: center;
    text-transform: capitalize;
}
.account-form-body {
    height: 100%;
    transition: all .4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
}

.form-header {
    font-size: 2.75rem;
    text-transform: capitalize;
    font-weight: bolder;
}

.account-form-group {
    margin: 1.5rem auto 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.account-form-group:first-of-type {
    margin-top: 3rem;
}
.account-form-control {
    background: none;
    outline: none;
    border: none;
    padding: .25rem;
    border-bottom: 2px solid var(--bg-dark);
}
.account-form-label {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--bg-dark);
    pointer-events: none;
    transition: all .3s ease-in-out;
}
.account-form-control:focus  {
    border-bottom-color: var(--text);
}

.account-form-control:focus + .account-form-label, .active-label {
    transform: translateY(-100%) translateX(-10%) scale(.8);
    color: var(--text);
}
.field-error {
    display: block;
    text-align: center;
    padding: .5rem;
    font-size: 1.25rem;
    font-weight: bolder;
    text-transform: capitalize;
    color: var(--primary);
    visibility: hidden;
    transition: all .5s ease;
}
.row {
    margin: 3rem auto;
    width: max-content;
    display: flex;
    align-items: center;
}
.row > button {
    outline: none;
    border: none;
    border-radius: .25rem;
    padding: .75rem 1.5rem;
    cursor: pointer;
    transition: all .5s ease;
    backface-visibility: hidden;
    font-size: 1.25rem;
}
.row > button[type="reset"]{
    margin-right: 1rem;
    background-color: var(--bg-dark);
}
.row > button[type="submit"]{
    background-color: var(--text);
    color: var(--bg);
}
.row > button[type="submit"]:hover{
    background-color: var(--primary);
}
.row > button:hover{
    transform: scale(1.05);
}
.row:hover > button:not(:hover){
    transform: scale(.95);
    opacity: .75;
}
.form-link-text {
    text-align: center;
    font-size: 1.25rem;
    color: var(--bg-dark);
}
@media (min-width: 800px) {
    .account-page{
    background-image: linear-gradient(160deg, var(--primary), var(--primary-dark) 50%, var(--bg) 50%);

    }
}