<!-- search result modal -->
<article class="fixed h-screen top-0 left-0 w-full bg-white flex items-center justify-center md:px-4 z-50 overflow-hidden">


    <div class="w-full px-4 pt-10 h-full overflow-hidden relative">

        <p class="text-lg font-light font-special text-center">
            Select a movie/series to review 
        </p>

        <p class="text-xs md:text-sm mb-4 font-light font-special text-center text-gray-500">
            Showing <span class="text-black font-semibold"><%= data.length %></span> result for <span class="text-black font-semibold underline"><%= keyword %></span> 
        </p>
        
        
        <% if (data.length) { %>
            <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-8 custom-scrollbar h-5/6 overflow-y-auto overflow-x-hidden px-4 w-full mx-auto pb-10 md:pb-4">
                <% data.forEach(datum => { %>
                    <%- include('../movie_thumbnail', {
                        poster : datum.poster || datum.Poster, 
                        title : datum.title || datum.Title, 
                        year : datum.year || datum.Year, 
                        type : datum.type || datum.Type, 
                        imdbid : datum.imdbid || datum.imdbID
                    }) %>
                <% })%>
            </section>
        <% } else { %>
            <section class="grid place-items-center grid-cols-1 h-5/6 overflow-hidden px-4 w-full mx-auto">
                <p class="text-center text-lg font-special">
                    No movies/shows found. Try refining your search.
                </p>
            </section>
        <% }  %>
            

        <p class="block text-center w-full text-xs md:text-sm text-gray-500 mt-4">
            Refine your search. <a href="<%= actionURL %>" class="inline outline-none focus:outline-none text-black font-semibold hover:underline">
                Click here
            </a> to go back
        </p>
        </form>
    </div>
</article>