<%- include('../partials/head') %>
<body class="h-screen grid grid-rows-4 w-full">
    <section class="row-start-1 row-end-4 w-full flex flex-col items-center justify-center bg-light">
        <%- include('../partials/brand') %>
        <h1 class="text-3xl text-dark capitalize font-light md:text-5xl my-3">
            404 | Page not found
        </h1>
        <a href="/" class="block text-center capitalize text-dark font-medium border-b-2 border-transparent hover:border-current">go to home</a>
    </section>
    <%- include('../partials/footer') %>
</body>