<%- include('../partials/head') %>

<body>
    <main>
        <h1>
            Hi <%= user %>
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam mollitia praesentium reiciendis corrupti odit quos?
        </p>
        <h2>
            My Blogs
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, voluptatibus accusamus. Porro animi nostrum excepturi!
        </p>
        <h2>
            Movies Watched
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, voluptatibus accusamus. Porro animi nostrum excepturi!
        </p>
        <h2>
            WatchList
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, voluptatibus accusamus. Porro animi nostrum excepturi!
        </p>
        <a href="/search">+ New Review</a>
    </main>
</body>
</html>