<%- include('../partials/head') %>
<%- include('../partials/bg_image') %>
<body class="relative font-regular h-screen bg-white">
    <main class="w-11/12 h-full mx-auto max-w-xl flex justify-center items-center flex-col">
        <h2 class="font-special font-light text-lg capitalize mb-4">
            <a href="/" class="text-lg md:text-2xl font-special font-light text-transparent bg-clip-text bg-gradient-to-r outline-none focus:outline-none from-pink-600 to-purple-700  inline-flex items-start group-hover:text-white transition-all">
                <span>M</span><small class="inline-block bg-clip-text bg-gradient-to-l from-pink-600 to-purple-700  text-transparent animate-bounce group-hover:text-white transition-all">&deg;</small><small>o</small>vey
            </a>
        </h2>
        <% if (step === 1) {%>
        <form autocomplete="off" action="/forgot-password" method="POST" class="w-11/12 max-w-xl mx-auto">
            <p class="text-black text-xs text-center mx-auto font-light">
                Forgot your password? Don't worry. Enter your email and click reset.
            </p>
            <% if(forgotMsg)  {%>
                <p class="bg-white text-sm p-2 text-center font-semibold text-pink-600 errorField">
                    <%= forgotMsg %>
                </p>
                <% } %>
                <section class="w-11/12 max-w-lg mx-auto">
                    <label for="email" class="text-xs mb-0.5 capitalize font-semibold text-gray-400 tracking-wider">
                        <small>email</small>
                    </label>
                    <input 
                        type="text" 
                        name="email"
                        class="w-full border-2 p-1 rounded-md border-gray-400 bg-transparent text-sm outline-none focus:outline-none font-semibold font-regular transition-all ring-0 focus:ring-0 ring-transparent focus:border-black ring-offset-transparent"
                        id="email">
                </section>
            <button type="submit" id="submitBtn" class="outline-none focus:outline-none py-2.5 px-6 block w-max mx-auto text-xs capitalize text-white transform transition-all bg-black hover:scale-105 hover:-translate-y-px hover:shadow-lg mt-10">
                <i class="fas fa-spinner animate-spin hidden" id="btnIcon"></i>
                <span id="btnText">reset password</span>
            </button>
        </form>
        <% } else if (step === 2) { %>
        <div class="w-full">
            <p class="font-special text-xl text-center text-black font-semibold">
                <i class="far fa-check-circle"></i> Password reset link sent to email
            </p>
            <small class="text-center block my-2">
                Please check your email ID and follow the instructions to reset your password. 
            </small>
            <% if(locals.mailSuccessfullySent) {%>
            <small class="my-2 text-xs block text-center">
                The link will be valid for the next <strong>10 mins</strong>
            </small>
            <% } %>
        </div>
        <% } %>
        <a href="/login" class="text-black border-b border-transparent focus:border-current hover:border-current capitalize outline-none focus:outline-none text-center mt-2.5 text-xs">
            go to login page
        </a>
    </main>
    <script src="/static/js/forgot-password.js"></script>
</body>
</html>