<%- include('../partials/head') %>
<body class="relative font-regular h-screen bg-gradient-to-br from-pink-600 to-purple-700">
    <video 
        oncontextmenu="return false" 
        class="pointer-events-none fixed top-0 left-0 h-screen w-screen object-cover opacity-5" 
        autoplay 
        muted 
        loop>
        <source src="/static/assets/video.mp4" type="video/mp4">
    </video>
    <main class="w-11/12 h-full mx-auto max-w-xl flex justify-center items-center flex-col">
        <strong class="tracking-tighter border-2 py-0.5 px-1.5 border-current flex-shrink-0 font-light text-lg cursor-default text-gray-50 mb-6">
            moovey••
        </strong>
        <form action="/forgot-password" method="POST" class="w-11/12 max-w-xl mx-auto">
            <p class="text-gray-50 text-xs text-center mx-auto font-light">
                Forgot your password? Don't worry. Enter your email and click reset.
            </p>
            <section class="flex flex-col items-center my-4 w-full justify-center">
                <input 
                    type="email" 
                    name="forgotEmail" 
                    id="forgotEmail" 
                    placeholder="Your email ID"
                    autocomplete="username"
                    class="w-full block p-1.5 rounded-sm shadow-lg my-2 transform focus:outline-none outline-none focus:scale-105 focus:shadow-lg transition-all text-sm text-black tracking-wider placeholder-pink-600">
                <label for="loginEmail" class="hidden text-xs lg:text-gray-600 text-gray-50 tracking-wider uppercase">Email</label>
                <small class="text-white">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </small>
            </section>
            <button type="submit" class="outline-none focus:outline-none py-2.5 px-6 block w-max mx-auto text-xs capitalize text-white transform transition-all bg-black hover:scale-105 hover:-translate-y-px hover:shadow-lg">
                reset password
            </button>
        </form>
    </main>
</body>
</html>