<%- include('../partials/base') %>
<%- include('../partials/navbar', {current : "/"}) %>

<div>
    <header class="author-header">
        <h1 class="center-text">
            Welcome to Moovey!!
        </h1>
        <!-- <img src="https://unsplash.it/900" alt="Random Unsplash"> -->
    </header>
    <main>
        <% if(users.length > 0) { %>
            <% users.forEach(user => { %>
                <h2>
                    <%= user.name%>
                </h2>
            <% }) %>
        <% } %>
    </main>
</div>
