<%- include('../partials/head') %>
    <body class="font-special relative custom-scrollbar">
        <img id="bgImg"
            src="https://images.pexels.com/photos/4340785/pexels-photo-4340785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="object-cover h-full w-full block fixed top-0 left-0 pointer-events-none z-0 filter opacity-100 transition-all"
            alt="">
        <%- include('../partials/navbar') %>

        <header class="h-screen relative flex items-center p-4 filter">
            <article class="z-10 w-4/5 flex flex-col items-end sm:items-start max-w-sm text-right ml-auto select-none xl:transform xl:-translate-x-1/2 2xl:-translate-x-full">
                <h1 class="text-3xl sm:text-4xl font-special text-pink-600 mb-2 2xl:text-5xl">
                    M<span class="inline-block animate-bounce">&deg;</span><sub class="text-3xl sm:text-4xl 2xl:text-5xl">&deg;</sub>vey
                </h1>
                <p class="font-regular text-sm sm:text-base text-gray-500 capitalize italic">
                    a place for cinephiles
                </p>
                <blockquote class="relative mt-10 sm:mt-16">
                    <i class="fas fa-quote-left absolute -top-6 -left-6 sm:-top-10 sm:-left-10 text-black sm:text-gray-400 text-xl sm:text-3xl"></i>
                    <p class="text-right sm:text-left border-b mb-3 pb-1 font-semibold text-gray-800 text-sm 2xl:text-base">
                        Now more than ever we need to talk to each other, to listen to each other and understand how we see the world, and cinema is the best medium for doing this.
                    </p>
                    <ul class="flex flex-col items-end sm:items-start">
                        <li class="font-regular font-semibold text-pink-700 capitalize text-sm 2xl:text-base">
                            martin scorsese
                        </li>
                        <li class="capitalize text-gray-500 text-xs 2xl:text-sm">
                            film maker
                        </li>
                    </ul>
                </blockquote>
            </article> 
        </header>
        <main class="min-h-screen bg-white">
            <!-- movie thumbnails showcase -->
            <section class="targetSection min-h-screen my-10 origin-bottom transition-all max-w-4xl mx-auto">
                <article class="transform transition-all origin-bottom flex flex-col-reverse md:flex-row">
                    <ul class="relative w-full mx-auto h-80 max-w-xs md:w-1/2">
                        <li class="absolute filter imgBox left-5 md:left-1/3 md:top-1/2 top-5 transition-all z-10">
                            <img src="https://m.media-amazon.com/images/M/MV5BMTczNTI2ODUwOF5BMl5BanBnXkFtZTcwMTU0NTIzMw@@.jpg"
                            class="block h-56 md:h-72 w-auto p-2 shadow-sm object-scale-down bg-white"
                             alt="">
                        </li>
                        <li class="absolute filter imgBox md:-rotate-12 md:transform right-1/4 top-1/4 transition-all">
                            <img src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" 
                            class="block h-56 md:h-72 w-auto p-2 shadow-sm object-scale-down bg-white"
                            alt="">
                        </li>
                        <li class="absolute filter imgBox md:rotate-12 md:transform right-9 top-9 transition-all">
                            <img src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" 
                            class="block h-56 md:h-72 w-auto p-2 shadow-sm object-scale-down bg-white"
                            alt="">
                        </li>
                    </ul>
                    <section class="relative px-4 md:w-1/2 max-w-xl">
                        <h2 class="font-regular text-pink-600 font-semibold text-lg capitalize md:text-xl xl:text-3xl">
                            watch good cinema
                        </h2>
                        <p class="text-sm font-special font-semibold my-6 md:my-10 text-gray-500 w-4/5 max-w-md md:max-w-xl md:w-full mr-auto md:text-base xl:text-xl">
                            There are more than <span class="text-black">500,000</span> movies out there. And the number is increasing by the day! <br><br> Checkout the recommendations before deciding whether to watch a movie/TV show/web series or not.. <br><br>You can add movies to your watchlist or favorites too!!
                        </p>
                        <a href="/moovey/" class="block my-2 w-max p-1 capitalize font-semibold font-regular text-black outline-none focus:outline-none hover:shadow-xl transform transition-all hover:-translate-y-px xl:text-xl">
                            read reviews
                        </a>
                        <a href="/moovey/list/" class="block my-2 w-max p-1 capitalize font-semibold font-regular text-black outline-none focus:outline-none hover:shadow-xl transform transition-all hover:-translate-y-px xl:text-xl">
                            check out the lists
                        </a>
                    </section>
                </article>
            </section>
            <!-- movie thumbnails showcase end -->
    
            <!-- users thumbnails showcase -->
            <section class="targetSection min-h-screen my-10 origin-bottom transition-all max-w-4xl mx-auto">
                <article class="transform transition-all origin-bottom flex flex-col-reverse md:flex-row-reverse">
                    <ul class="relative w-full mx-auto mt-6 h-80 max-w-sm lg:max-w-xl md:mt-0 md:w-1/2">
                        <li class="absolute left-6 md:-top-3 top-5 transition-all z-10">
                            <img src="https://surpasssoftware.com/wp-content/uploads/2019/11/avatar-1.jpg"
                            class="block h-28 w-28 lg:h-40 lg:w-40 rounded-full p-1.5 shadow-sm md:shadow-lg object-cover object-top bg-white"
                             alt="">
                        </li>
                        <li class="absolute right-1/4 top-1/4 transition-all">
                            <img src="https://fonciermarket.com/asset/images/avtar/16.jpg" 
                            class="block h-52 w-52 lg:h-80 lg:w-80 rounded-full p-1.5 shadow-sm md:shadow-lg object-cover object-top bg-white"
                            alt="">
                        </li>
                        <li class="absolute bottom-0 md:-bottom-10 right-9 transition-all">
                            <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" 
                            class="block h-28 w-28 lg:h-40 lg:w-40 rounded-full p-1.5 shadow-sm md:shadow-lg object-cover object-top bg-white"
                            alt="">
                        </li>
                    </ul>
                    <section class="relative pl-8 pr-4 md:w-1/2 max-w-xl">
                        <h2 class="font-regular text-pink-600 font-semibold text-lg capitalize md:text-xl xl:text-3xl">
                            Join the Moovey army
                        </h2>
                        <p class="text-sm font-special font-semibold my-6 md:my-10 text-gray-500 w-4/5 max-w-md md:max-w-xl md:w-full mr-auto md:text-base xl:text-xl">
                            How many times have you felt overwhelmed or underwhelmed after watching a cinema? Moovey provides a platform to express your emotions and feelings by reviewing it. <br>Rate the movie based on different categories like plot, acting or direction. <br><br>Based on other cinephiles’ ratings of your reviewes you can be a <span class="text-black">top reviewer</span> in no time!!<br><br>Join the cinephile army!
                        </p>
                        <a href="/reviewers" class="capitalize p-1 font-semibold font-regular text-black outline-none focus:outline-none hover:shadow-xl transform transition-all hover:-translate-y-px xl:text-xl">
                            meet the cinephiles
                        </a>
                    </section>
                </article>
            </section>
            <!-- users thumbnails showcase end -->
    
            <!-- movie thumbnails showcase -->
            <section class="targetSection min-h-screen my-10 origin-bottom transition-all max-w-4xl mx-auto">
                <article class="transform transition-all origin-bottom flex flex-col-reverse md:flex-row">
                    <ul class="relative w-full flex flex-col px-3 gap-2 mx-auto h-auto max-w-md md:w-1/2">
                       <!-- list thumbnail -->
                        <li class="w-5/6 mx-auto max-w-lg bg-white shadow-lg rounded flex flex-col items-start p-2">
                            <span class="text-pink-600 text-xs uppercase font-regular font-semibold">
                                my favorite psychological thrillers
                            </span>
                            <ul class="text-xs">
                                <li class="text-black capitalize font-semibold">
                                    <small>
                                        sounak
                                    </small>
                                </li>
                                <li class="text-gray-500">
                                    <small>
                                        23-October-2019
                                    </small>
                                </li>
                            </ul>
                        </li>
                        <!-- testimonial thumbnail -->
                        <li class="w-full max-w-lg bg-white shadow-lg rounded flex items-center justify-start gap-2 p-2 ml-auto">
                            <img src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="h-28 w-auto" alt="">
                            <div class="flex flex-col justify-start mb-auto items-start">
                                <span class="text-pink-600 text-xs uppercase font-regular font-semibold">
                                    my favorite psychological thrillers
                                </span>
                                <ul class="text-xs">
                                    <li class="text-black capitalize font-semibold">
                                        <small>
                                            sounak
                                        </small>
                                    </li>
                                    <li class="text-gray-500">
                                        <small>
                                            23-October-2019
                                        </small>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- testimonial thumbnail -->
                        <li class="w-5/6 mx-auto max-w-xs bg-white shadow-lg rounded flex flex-col items-center justify-center gap-2 p-2">
                            <img src="https://surpasssoftware.com/wp-content/uploads/2019/11/avatar-1.jpg" class="h-20 w-20 rounded-full p-1 shadow-lg" alt="">
                            <small class="my-0.5 text-black text-xs">Jane Doe</small>
                            <ul class="flex items-center text-pink-600 justify-center text-xs">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star-half-alt"></i></li>
                            </ul>
                            <small class="text-black font-semibold text-xs uppercase font-special px-2 text-center">
                                loved your review! keep up the good work
                            </small>
                        </li>
                    </ul>
                    <section class="relative px-4 md:w-1/2 max-w-xl">
                        <h2 class="font-regular text-pink-600 font-semibold text-lg capitalize md:text-xl xl:text-3xl">
                            create lists, write reviews, testimonials and lot more
                        </h2>
                        <p class="text-sm font-special font-semibold my-6 md:my-10 text-gray-500 w-4/5 max-w-md md:max-w-xl md:w-full mr-auto md:text-base xl:text-xl">Write reviews of umpteen movies, films, documentaries, animes, tv shows, web series and more. If you like list based articles, we have got good news for you. You can make your favorite assorted lists too!! And making one on Moovey couldn’t be easier.Create your lists for the world to see. <br> cheer other reviewers by writing testimonials on their reviews and lists. 
                        </p>
                    </section>
                </article>
                <div class="transform transition-all origin-bottom flex gap-2 flex-col items-center justify-center w-full mt-10 md:mt-20">
                    <a href="/register" class="bg-black capitalize focus:outline-none font-regular hover:-translate-y-px hover:scale-105 hover:shadow-xl outline-none px-5 py-1.5 text-white text-xs transform transition-all focus:shadow-xl focus:-translate-y-px focus:scale-105 md:text-base xl:text-xl">
                        join now
                    </a>
                    <small class="text-xs text-gray-500 capitalize font-special">
                        already have an account? <a href="/login" class="font-semibold hover:text-black focus:text-black transition-all border-b border-transparent hover:border-current focus:border-current outline-none focus:outline-none">login now</a>
                    </small>
                </div>
            </section>
            <!-- movie thumbnails showcase end -->
        </main>

        

<script src="/static/js/landing.js"></script>
<script src="/static/js/navbar.js"></script>
<%- include('../partials/footer') %>

