<%- include('../partials/head') %>

<body class="min-h-screen relative">
    <main class="h-screen w-full relative flex flex-col items-center justify-between py-10">
        <article class="h-full overflow-hidden justify-between">
            <section class="active landing h-full flex flex-col items-center justify-center">
                <%- include('../partials/brand') %>
                <span class="text-light text-lg capitalize mb-4 italic block text-center">
                    a place for cinephiles
                </span>
                <button 
                    onclick="openAccountModal()"
                    class="text-lg uppercase mt-4 px-8 py-2 font-semibold outline-none focus:outline-none border-2 border-dark hover:text-dark hover:bg-light hover:border-light hover:shadow-xl transition-all duration-200 transform hover:-translate-y-1.5">
                    join now
                </button>
            </section>
            <section class="landing h-full flex flex-col justify-center">
                <h1 class="text-light flex flex-col items-center text-2xl">
                    <span class="capitalize shadow-md p-3 m-1 w-min rounded-sm bg-dark">
                        a
                    </span>
                    <span class="capitalize shadow-md p-3 m-1 w-min rounded-sm bg-dark">
                        place
                    </span>
                    <span class="capitalize shadow-md p-3 m-1 w-min rounded-sm bg-dark">
                        for
                    </span>
                    <span class="capitalize shadow-md p-3 m-1 w-min rounded-sm bg-dark">
                        cinephiles
                    </span>
                </h1>
                <a href="/" 
                    class="text-lg uppercase mt-4 px-8 py-2 font-semibold outline-none focus:outline-none border-2 border-dark hover:text-dark hover:bg-light hover:border-light hover:shadow-xl transition-all duration-200 transform hover:-translate-y-1.5">
                    see reviewers
                </a>
            </section>
            <section class="landing h-full flex flex-col justify-center">
                <blockquote class="text-lg capitalize italic my-2 p-4 rounded-sm shadow-lg bg-dark text-primary">
                    let's watch and promote good movies.. together!
                </blockquote>
                <h1 class="text-light flex flex-col items-center text-2xl">
                    <span class="capitalize shadow-md p-3 m-1 w-min rounded-sm bg-dark">
                        watch 
                    </span>
                    <span class="capitalize shadow-md p-3 m-1 w-min rounded-sm bg-dark">
                        good
                    </span>
                    <span class="capitalize shadow-md p-3 m-1 w-min rounded-sm bg-dark">
                        movies
                    </span>
                </h1>
                <button 
                    class="w-max mx-auto text-lg uppercase mt-4 px-8 py-2 font-semibold outline-none focus:outline-none border-2 border-dark hover:text-dark hover:bg-light hover:border-light hover:shadow-xl transition-all duration-200 transform hover:-translate-y-1.5">
                    read reviews
                </button>
            </section>
        </article>
        <div class="flex items-center justify-center">
            <button onclick="selectLanding(0)" class="landing-nav h-3 w-3 rounded-full my-3 mx-1.5 bg-dark block outline-none focus:outline-none"></button>
            <button onclick="selectLanding(1)" class="landing-nav h-3 w-3 rounded-full my-3 mx-1.5 bg-light block outline-none focus:outline-none"></button>
            <button onclick="selectLanding(2)" class="landing-nav h-3 w-3 rounded-full my-3 mx-1.5 bg-light block outline-none focus:outline-none"></button>
        </div>
    </main>
    
    <section id="account" class="hidden fixed items-center justify-center top-0 left-0 h-screen w-full bg-dark">
        <button onclick="closeAccountModal()" class="absolute top-6 right-6 text-4xl text-secondary outline-none focus:outline-none hover:text-primary">
            &times;
        </button>
        <article id="loginMode" class="rounded-md bg-gradient-to-b from-primary to-secondary flex flex-col items-center h-3/5 w-4/5 max-w-md justify-start px-4 py-8 overflow-hidden relative">
            <strong class="text-3xl uppercase font-light">
                Log In
            </strong>
            <form class="z-10 w-5/6" id="loginForm" autocomplete="new_password">
                <span class="block text-center capitalize text-dark text-lg font-bold font-base" id="loginError"></span>
                <div class="flex flex-col items-center">
                    <input 
                        class="my-2 w-full block p-2 rounded-md text-center transform transition-all focus:scale-x-110 outline-none focus:outline-none focus:shadow-lg font-semibold text-dark"
                        type="text" 
                        name="email"
                        placeholder="Email">
                    <input 
                        class="my-2 w-full block p-2 rounded-md text-center transform transition-all focus:scale-x-110 outline-none focus:outline-none focus:shadow-lg font-semibold text-dark"
                        type="password" 
                        name="password"
                        placeholder="Password">
                </div>
                <div class="flex justify-center items-center mt-6">
                    <button type="submit" class="bg-dark font-semibold text-light outline-none focus:outline-none px-6 py-2 rounded-sm hover:text-dark hover:bg-light hover:shadow-lg transition-all duration-500">
                        Submit
                    </button>
                </div>
                <span class="flex items-center justify-center my-4 mx-auto">
                    New User? <button type="button" onclick="toggleMode()" class="pl-0.5 inline-block outline-none focus:outline-none border-b-2 border-transparent hover:border-current hover:shadow-lg">Register Now</button>
                </span>
            </form>
            <ul class="flex w-full justify-around absolute bottom-8 pointer-events-none z-0">
                <li class="animation-shape bg-light h-12 w-12 opacity-20"></li>
                <li class="animation-shape bg-light h-8 w-8 opacity-20"></li>
                <li class="animation-shape bg-light h-10 w-02 opacity-20"></li>
                <li class="animation-shape bg-light h-14 w-14 opacity-20"></li>
                <li class="animation-shape bg-light h-10 w-10 opacity-20"></li>
            </ul>
        </article>
        <article id="registerMode" class="hidden rounded-md bg-gradient-to-b from-primary to-secondary flex-col items-center h-3/5 w-4/5 max-w-md justify-start px-4 py-8 overflow-hidden relative">
            <strong class="text-3xl uppercase font-light">
                register
            </strong>
            <form class="z-10 w-5/6" id="registerForm" autocomplete="new_password">
                <span class="block text-center capitalize text-dark text-lg font-bold font-base" id="registerError"></span>
                <div class="flex flex-col items-center">
                    <input 
                        class="my-2 w-full block p-2 rounded-md text-center transform transition-all focus:scale-x-110 outline-none focus:outline-none focus:shadow-lg font-semibold text-dark"
                        type="text" 
                        name="name"
                        placeholder="Name">
                    <input 
                        class="my-2 w-full block p-2 rounded-md text-center transform transition-all focus:scale-x-110 outline-none focus:outline-none focus:shadow-lg font-semibold text-dark"
                        type="text" 
                        name="email"
                        placeholder="Email">
                    <input 
                        class="my-2 w-full block p-2 rounded-md text-center transform transition-all focus:scale-x-110 outline-none focus:outline-none focus:shadow-lg font-semibold text-dark"
                        type="password" 
                        name="password"
                        placeholder="Password">
                </div>
                <div class="flex justify-center items-center mt-6">
                    <button type="submit" class="bg-dark font-semibold text-light outline-none focus:outline-none px-6 py-2 rounded-sm hover:text-dark hover:bg-light hover:shadow-lg transition-all duration-500">
                        Submit
                    </button>
                </div>
                <span class="flex items-center justify-center my-4 mx-auto">
                    Existing User? <button type="button" onclick="toggleMode()" class="pl-0.5 inline-block outline-none focus:outline-none border-b-2 border-transparent hover:border-current hover:shadow-lg">Login Now</button>
                </span>
            </form>
            <ul class="flex w-full justify-around absolute bottom-8 pointer-events-none z-0">
                <li class="animation-shape bg-light h-15 w-15 opacity-20"></li>
                <li class="animation-shape bg-light h-16 w-16 opacity-20"></li>
                <li class="animation-shape bg-light h-12 w-12 opacity-20"></li>
                <li class="animation-shape bg-light h-14 w-14 opacity-20"></li>
                <li class="animation-shape bg-light h-10 w-10 opacity-20"></li>
            </ul>
        </article>
    </section>
    <%- include('../partials/footer') %>


</body>