<%- include('../partials/head') %>

<body>
    <main>
        <h1>
            Step 1: Search movie
        </h1>
        <form action="/search" method="POST" id="search">
            <input type="text" placeholder="search movie">
            <button type="submit">
                Search Movie
            </button>
        </form>

    </main>

</body>

</html>