<%- include('../partials/head') %>
<body>
    <main class="account-page">
        <h2 class="page-header">
            moovey
        </h2>
        
        <form class="account-form" id="register" autocomplete="new-password">
            <section class="account-form-msg" >
                <span id="form-msg">
                </span>
                <button type="button" onclick="hideMsg()">
                    &times;
                </button>
            </section>
            <section class="account-form-body">
                <h1 class="form-header">
                    create an account
                </h1>
                <section class="account-form-group">
                    <input 
                        autocomplete="new-password"
                        class="account-form-control"
                        id="name"
                        name="name"
                        type="text">
                    <label for="name" class="account-form-label">
                        Name
                    </label>
                    <small class="field-error" id="name-error">
                    </small>
                </section>                
                <section class="account-form-group">
                    <input 
                        autocomplete="new-password"
                        class="account-form-control"
                        id="email"
                        name="email"
                        type="email">
                    <label for="email" class="account-form-label">
                        Email
                    </label>
                    <small class="field-error" id="email-error">
                    </small>
                </section>                
                <section class="account-form-group">
                    <input 
                        autocomplete="new-password"
                        class="account-form-control"
                        id="password"
                        name="password"
                        type="password">
                    <label for="password" class="account-form-label">
                        Password
                    </label>
                    <small class="field-error" id="password-error">
                    </small>
                </section>                
                <section class="account-form-group">
                    <input 
                        autocomplete="new-password"
                        class="account-form-control"
                        id="password2"
                        name="password2"
                        type="password">
                    <label for="password2" class="account-form-label">
                        Confirm Password
                    </label>
                    <small class="field-error" id="password2-error">
                    </small>
                </section>
                <div class="row">
                    <button type="reset">Reset Fields</button>
                    <button type="submit">Submit</button>
                </div>      
                <p class="form-link-text">
                    Already have an account? Click <a href = "/login" class="page-link">here</a> to login.
                </p>          
            </section>
        </form>
    </main>
</body>
</html>