<%- include('../partials/head') %>
<body class="relative">
    <section class="gradient-bg min-h-screen w-full">
        show all reviewers
        
        <div class="profile-card-container w-5/6 mx-auto">
            <!-- card -->
            <article class="user-card m-4 mx-auto p-2 bg-red-400 relative rounded-lg shadow-xl overflow-hidden flex items-center justify-center flex-col cursor-pointer md:cursor-default transform transition-all hover:scale-105 hover:-translate-y-1 hover:shadow-2xl">
                <img 
                    src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8ZmFjZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                    class="h-full w-full block object-cover shadow-lg absolute top-0 left-0 transition-all duration-300">
                <strong class="block w-1/2 mr-auto text-5xl font-light">
                    <span class="text-light">
                        Lorem ipsum dolor sit amet
                    </span>
                </strong>
            </article>
    
            <article class="user-card m-4 mx-auto p-2 bg-red-400 relative rounded-lg shadow-xl overflow-hidden flex items-center justify-center flex-col cursor-pointer md:cursor-default transform transition-all hover:scale-105 hover:-translate-y-1 hover:shadow-2xl">
                <img 
                    src="https://i.pinimg.com/originals/2a/1d/1d/2a1d1d114593840ce88f88519c1fd3bd.jpg"
                    class="h-full w-full block object-cover shadow-lg absolute top-0 left-0 transition-all duration-300">
                <strong class="block w-1/2 mr-auto text-5xl font-light">
                    <span class="text-light">
                        Lorem ipsum dolor sit amet
                    </span>
                </strong>
            </article>
    
            <article class="user-card m-4 mx-auto p-2 bg-red-400 relative rounded-lg shadow-xl overflow-hidden flex items-center justify-center flex-col cursor-pointer md:cursor-default transform transition-all hover:scale-105 hover:-translate-y-1 hover:shadow-2xl">
                <img 
                    src="https://i.pinimg.com/originals/79/10/10/791010fa67c42c2d9a2b6583e43903d1.jpg"
                    class="h-full w-full block object-cover shadow-lg absolute top-0 left-0 transition-all duration-300">
                <strong class="block w-1/2 mr-auto text-5xl font-light">
                    <span class="text-light">
                        Lorem ipsum dolor sit amet
                    </span>
                </strong>
            </article>
    
            <!-- card -->
            <article class="user-card m-4 mx-auto p-2 bg-red-400 relative rounded-lg shadow-xl overflow-hidden flex items-center justify-center flex-col cursor-pointer md:cursor-default transform transition-all hover:scale-105 hover:-translate-y-1 hover:shadow-2xl">
                <img 
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    class="h-full w-full block object-cover shadow-lg absolute top-0 left-0 transition-all duration-300">
                <strong class="block w-1/2 mr-auto text-5xl font-light">
                    <span class="text-light">
                        Lorem ipsum dolor sit amet
                    </span>
                </strong>
            </article>
    
            <!-- card -->
            <article class="user-card m-4 mx-auto p-2 bg-red-400 relative rounded-lg shadow-xl overflow-hidden flex items-center justify-center flex-col cursor-pointer md:cursor-default transform transition-all hover:scale-105 hover:-translate-y-1 hover:shadow-2xl">
                <img 
                    src="https://povstudio.gr/portal-img/project-square/2/kallitexnikes-fotografies-portraitou-aris-servetalis-001-CQIqm.jpg"
                    class="h-full w-full block object-cover shadow-lg absolute top-0 left-0 transition-all duration-300">
                <strong class="block w-1/2 mr-auto text-5xl font-light">
                    <span class="text-light">
                        Lorem ipsum dolor sit amet
                    </span>
                </strong>
            </article>
        </div>



    </section>
    <%- include('../partials/footer') %>
</body>